body {
 background-color: black;
 color: white;
}

#wb-main-container {
 padding: 0px;
}
.wb-bg-grey {
 background-color: grey;
}
.wb-white {
 color: white;
}
.wb-grey {
 color: grey;
}
.wb-highlighted {
 color: white;
 font-weight: bold;
}

.wb-b-left{
 border-left: solid 1px rgb(48,48,48);
}
.wb-b-right {
 border-right: solid 1px rgb(48,48,48);
}
.wb-b-top {
border-top: solid 1px rgb(48,48,48);
}
.wb-b-bottom {
 border-bottom: solid 1px rgb(48,48,48);
}
.wb-pl-10 {
 padding-left: 10px;
}

.wb-list-item {
 background-color: black;
 color: white;
 font-size: 16px;
}
.wb-list-item:hover {
 background-color: black;
}

.wb-input {
 background: rgb(48,48,48);
 color: grey;
 border: none;
}


.wb-main-nav-bar {
 background-color: black;
 color: grey;
 border: none;
}
.wb-nav-bar-item{
 background-color: black;
 color: grey;
 font-size: 16px;
 border: none;
}
.wb-nav-bar-item:hover {
 border: none;
}

.wb-follow-list-item {
 background: rgb(48,48,48);
 color: white;
}
.wb-follow-btn {
 background-color: white;
 color: black;
 font-weight: bold;
}
